[2014-06-29 12:25] bvssvni opened #12 "TerraFirmaCraft"
https://github.com/Deadrik/TFCraft

[2014-06-30 09:30] bvssvni opened #14 "Level data"
https://gist.github.com/eddyb/61867cc4eabb9f94560c

[2014-07-05 12:46] bvssvni opened #16 "Add a camera"
Add a camera with vectors:
- Position
- Target
- Right
- Up

[2014-07-05 12:47] bvssvni opened #17 "Add cube"
Can render a cube using 6 quads.

[2014-07-05 19:33] bvssvni opened #18 "Move texture stuff to own module"
This will make the main loop cleaner.

[2014-07-05 19:55] #18 closed, assigned to bvssvni

[2014-07-05 20:11] bvssvni opened #20 "Create a context type library for 3D geometry?"
I wonder whether this would be practical.

[2014-07-05 20:36] bvssvni opened #21 "3D projection and 3D camera resources"
http://en.wikipedia.org/wiki/3D_projection

[2014-07-05 20:56] #16 closed, assigned to bvssvni

[2014-07-05 20:57] bvssvni opened #22 "Add `CameraSettings`"
Should contain following members:
- Field of view
- Near clip
- Far clip
- Aspect ratio

[2014-07-05 21:00] #22 closed, assigned to bvssvni

[2014-07-05 21:03] bvssvni opened #24 "Add `Camera::orthogonal` method"
Should return an orthogonal matrix.

Need to normalize the vector from position to target.

[2014-07-05 21:12] #24 closed, assigned to bvssvni

[2014-07-05 21:15] bvssvni opened #26 "Set up a camera in main function"
Should be looking at the origin, positioned 3m away.

[2014-07-05 21:16] #26 closed, assigned to bvssvni

[2014-07-05 21:19] bvssvni opened #28 "Transform quad using the orthogonal matrix generated from camera"
The vertices of the generated quad can be transformed using the orthogonal matrix.

[2014-07-05 21:20] bvssvni opened #29 "Move type aliases from cam.rs to main.rs"
These can be used multiple places.

[2014-07-05 21:22] #29 closed, assigned to bvssvni

[2014-07-05 21:25] bvssvni opened #31 "Add vecmath.rs"
Should store common operations on matrices and vectors.

Move the type aliases to vecmath.rs

[2014-07-05 21:27] #31 closed, assigned to bvssvni

[2014-07-05 21:56] bvssvni opened #33 "Add `vec3_normalized_sub` to vecmath.rs"
This should replace the hard coded method in cam.rs

[2014-07-05 21:57] #33 closed, assigned to bvssvni

[2014-07-05 21:58] bvssvni opened #35 "Add `mat4x3_transform` to vecmath.rs"
Should transform a `Vector3`.

[2014-07-05 22:03] #35 closed, assigned to bvssvni

[2014-07-05 22:07] bvssvni opened #37 "Add matrix argument to `MinecraftTexture::to_quad`"
This will be used to transform the cube vertices.

Should pass in the orthogonal matrix generated from camera.

[2014-07-05 22:09] #37 closed, assigned to bvssvni

[2014-07-05 22:10] bvssvni opened #39 "Change represenation of vertices in Quad"
This is needed in order to transform the vertices.

[2014-07-06 14:56] #28 closed, assigned to bvssvni

[2014-07-06 14:58] bvssvni opened #42 "Move camera position in circles around quad"
This is to see the quad from different angles.

[2014-07-06 15:26] #42 closed, assigned to bvssvni

[2014-07-06 16:38] #17 closed, assigned to nobody

[2014-07-06 16:49] #20 closed, assigned to nobody

[2014-07-06 17:40] bvssvni opened #45 "Use nearest neightbor for texture"
Could add a method to opengl_graphics for loading a texture with nearest neighbor.

[2014-07-06 18:14] bvssvni opened #46 "Add axis to ASCII drawing in cube.rs"
X axis goes from left to right,

Y axis goes from bottom to top,

Z axis goes from front to back.

[2014-07-06 19:01] bvssvni opened #47 "Render chunk with hgl-rs"
The shader needs to be rewritten.

[2014-07-06 22:59] bvssvni opened #48 "Progress screenshots with comments"
![Rendering of first NTB block](https://i.imgur.com/2wYpRwR.png)

@eddyb extracted a chunk of blocks from the NTB format.

[2014-07-13 17:46] #47 closed, assigned to nobody

[2014-07-27 12:32] bvssvni opened #51 "Ambient occlusion for Minecraft worlds"
http://0fps.net/2013/07/03/ambient-occlusion-for-minecraft-like-worlds/
## Screen space occlusion
- Easy to implement in an existing rendering pipeline, for example deferred rendering
- Problems with "dark halos" from approximating geometry using the depth buffer)
## Voxel occlusion
- Precompute the ambient occlusion per vertex using adjacent vertices
- Leads to artifacts if there are inconsistent

[2014-08-03 01:01] TyOverby opened #53 "Runtime failure while compiling shaders"
[code]

[2014-08-03 05:40] alexchandel opened #54 "Build failure through sdl2"
When I pull hematite and run `cargo build`, I get this:

[code]

[2014-08-03 06:47] #54 closed, assigned to nobody

[2014-08-03 09:23] bvssvni opened #55 "Move buffer building code outside event loop"
https://github.com/PistonDevelopers/hematite/blob/master/src/main.rs#L92

This allocated on each frame, which probably slows down the rendering a bit.

[2014-08-03 09:34] bvssvni opened #56 "Refactor input events"
The input logic currently takes a big part of the game loop, which could be moved into its own function.

[2014-08-03 19:19] alexchandel opened #58 "Hematite fails to access AssetStore in `cargo run`"
When building and running with `cargo run`, it fails with:

[code]

Adding `println!("{}", texture.to_c_str());` to the main function reveals it's trying to access `/Users/alex/GitHub/hematite/target/assets/minecraft-texture.png`, which naturally doesn't exist.

This happens because cargo runs the executable in `/target`, and although AssetStore expects the `assets` folder to be in the executable'

[2014-08-04 19:45] abonander opened #59 "[Windows] Error running 'cargo build' 'Could not execute process `./.build.sh` (status=never executed)'"
[code]

Obviously it's supposed to be `./build.sh` but somewhere that second dot is getting inserted and I can't find where.

I looked in all the dependencies for a typo in a Makefile but I couldn't find anything. Same output in Command Prompt and MinGW BASH.

[2014-08-04 20:25] bvssvni opened #61 "How to check out eddyb's [CENSORED]"
[code]

[2014-08-04 20:32] #61 closed, assigned to nobody

[2014-08-04 20:41] #59 closed, assigned to nobody

[2014-08-04 21:46] #56 closed, assigned to nobody

[2014-08-04 21:46] bvssvni opened #62 "Improve FPSController"
From https://github.com/PistonDevelopers/hematite/pull/60#issuecomment-51120518

[code]

[2014-08-14 18:55] bvssvni opened #63 "How to open up Minecraft world in Hematite"
_This method is only for personal use. Never distribute copyrighted content from Minecraft._

`<version> = 1.8-pre2`
### OSX

Minecraft stores data in the folder `/Users/<username>/Library/Application Support/minecraft`
- In the Minecraft Launcher, click the button "New Profile"
- Type in a profile name, for example "experimental"
- Check "Enable experimental development versions"
- A message warn

[2014-08-20 19:13] ruipacheco opened #65 "Can't build on OSX"
Tried to run build.sh on the latest OSX with rust 0.12 and got the following error:

[code]

[2014-08-22 11:11] bvssvni opened #67 "Use 3D camera library"
https://github.com/pistondevelopers/cam

`CameraSettings` is renamed to `CameraPerspective`.

[2014-08-22 12:10] bvssvni opened #69 "Use vecmath library from Piston"
https://github.com/pistondevelopers/vecmath

This is reexported under Piston.

[2014-08-22 12:14] #67 closed, assigned to bvssvni

[2014-08-22 23:13] eddyb opened #73 "Chunk culling for more performance."
While there is a clever algorithm (that Minecraft vanilla has recently started using), it's also possible to handle "trivial rejects" by projecting the corners of each chunk and skipping those that have all corners outside of the screen.

[2014-08-24 17:22] bvssvni opened #76 "Full test of camera motion"
I created a map of `(update on rendering, extrapolate time)` as states of bits with arrows pointing to the smoothest motion (as edges on a square). Did not test `(1, 1)` because that does not make sense. When I could not notice a difference, I used a line with no arrow between the states. Tested 9 combinations of FPS (30, 60 and 10000) and UPS (30, 120, 10000).

The map looks like a 3x3 grid, one

[2014-08-25 07:04] #69 closed, assigned to lucidd

[2014-08-27 19:49] bvssvni opened #81 "Upgrade to latest Piston and gfx-rs"

[2014-08-27 20:39] #81 closed, assigned to bvssvni

[2014-08-27 20:40] bvssvni opened #83 "AO-enabled non-solid blocks (like snow layers) are incorrectly rendered."
Probably a side effect of the leaf hack.

[2014-08-27 20:41] #62 closed, assigned to nobody

[2014-08-27 22:50] tbu- opened #84 "Could not create GL context"
I see some window popping up and then this:

[code]

Build failed for `rust-image` previously due to a breaking change in the Rust compiler which made `&[]` invalid as a slice, `cargo update image` fixed that.

Arch Linux. i3 (a tiling window manager, might be relevant, windows can't just get any size they want). Nvidia graphics card.

[2014-08-28 09:26] #84 closed, assigned to nobody

[2014-08-28 20:39] #83 closed, assigned to nobody

[2014-08-28 23:18] ruipacheco opened #89 "Can't build on OSX"
$ cargo build
    Updating git repository `https://github.com/bjz/gl-rs.git`
    Updating git repository `https://github.com/bjz/noise-rs`
    Updating git repository `https://github.com/netvl/rust-xml`
    Updating git repository `https://github.com/pistondevelopers/cam`
    Updating git repository `https://github.com/AngryLawyer/rust-sdl2`
    Updating git repository `https://github.com/PistonDe

[2014-09-01 13:27] #45 closed, assigned to nobody

[2014-09-01 13:27] #55 closed, assigned to nobody

[2014-09-01 13:27] #12 closed, assigned to nobody

[2014-09-01 13:27] #14 closed, assigned to nobody

[2014-09-01 13:28] #21 closed, assigned to nobody

[2014-09-01 13:29] #39 closed, assigned to nobody

[2014-09-01 13:29] #46 closed, assigned to nobody

[2014-09-01 13:29] #51 closed, assigned to nobody

[2014-09-01 13:31] #58 closed, assigned to nobody

[2014-09-01 13:31] #63 closed, assigned to nobody

[2014-09-01 13:33] bvssvni opened #92 "Update README"
- [x] Remove notice about eddyb branch
- [x] Add link to how to open a Minecraft world https://github.com/PistonDevelopers/hematite/issues/63

[2014-09-01 13:34] #76 closed, assigned to nobody

[2014-09-01 13:35] #65 closed, assigned to nobody

[2014-09-01 13:39] #89 closed, assigned to nobody

[2014-09-01 13:41] bvssvni opened #93 "Add mipmap generation of texture"
This will fix moire patterns you see on the distant blocks.

[2014-09-01 14:40] bvssvni opened #94 "Advanced cave culling algorithm"
https://tomcc.github.io/2014/08/31/visibility-1.html

[2014-09-02 09:40] #94 closed, assigned to nobody

[2014-09-04 11:14] bvssvni opened #98 "Add goals section to README"
@eddyb What's your vision for the project?

[2014-09-04 11:14] #92 closed, assigned to mkcp

[2014-09-05 05:06] alexchandel opened #99 "Unresolved imports from sdl2_game_window and piston"
Building hematite yields unresolved imports, like :

[code]

While there is no `sdl2_game_window::GameWindowSDL2`, there is a `sdl2_game_window::WindowSDL2`. Similarly there's an `EventIterator`, `EventSettings`, `Window`, and `WindowSettings` in piston.

[2014-09-05 07:52] #99 closed, assigned to nobody

[2014-09-06 09:15] bvssvni opened #102 "Release build not working"
Reported by @alexchandel

Upgraded, this now:

[code]

[2014-09-26 13:21] bvssvni opened #110 "Rename NbtString, ListT and CompoundT"
@eddyb suggested

[2014-09-26 13:28] bvssvni opened #111 "Add maintainers to README"
In the other projects we mention the maintainers in the README.

Add @eddyb , @bvssvni as maintainers?

Also, if somebody wants to step in as second maintainer, so I can be reserve, it would be great.

[2014-09-27 19:15] #110 closed, assigned to nobody

[2014-09-28 14:49] bvssvni opened #113 "Add link to contribution page in README"
https://github.com/PistonDevelopers/piston/blob/master/CONTRIBUTING.md

@eddyb You should add yourself to the donation list.

[2014-09-30 17:25] bvssvni opened #114 "Fails to run with [profile.release]"
[code]

[code]

[2014-10-09 13:59] bvssvni opened #116 "Fix compiler warnings"
There are some new methods on collections, the old will get deprecated.

[2014-10-16 18:37] bvssvni opened #118 "Give new life to Hematite?"
I would like to see some new ideas of what to do with Hematite. Perhaps we should start moving stuff into a library "voxel"?

[2014-10-24 15:49] #53 closed, assigned to nobody

[2014-10-24 16:20] bvssvni opened #120 "Remove piston dependency"
It is recommended to depend directly on the libraries.

[2014-10-24 16:21] #114 closed, assigned to nobody

[2014-10-24 16:21] #120 closed, assigned to bvssvni

[2014-10-24 16:23] #102 closed, assigned to nobody

[2014-10-24 16:25] bvssvni opened #122 "Move cube.rs and array.rs to gfx_voxel"
These modules do not depend on anything, so we can start moving them and add gfx_voxel as dependency.

[2014-10-24 17:12] #122 closed, assigned to bvssvni

[2014-10-24 17:22] bvssvni opened #125 "Move texture.rs to gfx_voxel"
This has no dependencies except Gfx, so this can be moved. We will add a dependency to Gfx in gfx_voxel anyway.

[2014-10-24 17:54] #125 closed, assigned to bvssvni

[2014-10-28 17:50] bvssvni opened #131 "Add dependency graph to README"
See https://github.com/PistonDevelopers/piston/issues/666

[2014-10-28 17:51] #131 closed, assigned to bvssvni

[2014-10-29 18:17] bvssvni opened #134 "Add a nice screenshot to README"
This might get more people interested in working on the project.

[2014-11-05 01:48] bvssvni opened #139 "Remove Cargo.lock and add it to .gitignore"
There is too much instability in rustc for the moment to make Cargo.lock practical.

[2014-11-05 01:50] bvssvni opened #140 "Minor improvements to `.find_equiv`"
See https://github.com/PistonDevelopers/hematite/pull/137#discussion_r19810125
See https://github.com/PistonDevelopers/hematite/pull/137#discussion_r19810150

[2014-11-05 04:32] bvssvni opened #142 "src/minecraft/nbt.rs is broken"
[code]

http://doc.rust-lang.org/serialize/trait.Decoder.html#tymethod.read_tuple

The `len` is moved outside the closure arguments.

[2014-11-05 05:30] #142 closed, assigned to bvssvni

[2014-11-05 05:40] #140 closed, assigned to bvssvni

[2014-11-05 05:42] #139 closed, assigned to bvssvni

[2014-11-05 05:50] #134 closed, assigned to bvssvni

[2014-11-11 22:03] bvssvni opened #150 "unresolved import `rustrt::rtio::RtioFileStream`"
[code]

[2014-11-15 14:12] #150 closed, assigned to nobody

[2014-11-15 14:18] bvssvni opened #153 "Check for error when opening Region"
Since this uses libc, it should check for negative return values in the file descriptor before attempting to create the memory map. See http://codewiki.wikidot.com/c:system-calls:open

[2014-11-15 14:29] #153 closed, assigned to bvssvni

[2014-11-20 19:54] bvssvni opened #156 "Remove prefix on `Nbt` and suffix on `List` variants"
- [x] `NbtString` => `String`
- [x] `NbtList` => `List`
- [x] `NbtCompound` => `Compound`

[2014-11-24 14:27] bvssvni opened #158 "Remove dependency on cgmath"
This library is probably going to be replaced with nalgebra, but perhaps the usage here is so simple that we can use vecmath.

[2014-11-24 14:36] #158 closed, assigned to bvssvni

[2014-12-07 08:36] derekchiang opened #161 "Build error: gfx::UsageStatic unresolved"
[code]

[2014-12-07 19:20] #161 closed, assigned to DaemonPlus

[2014-12-13 01:10] galbacarys opened #165 "Build failing, Mac OS X Yosemite"
Not sure if this is a problem with Hematite, per se, but I'm getting the following error when I attempt to build Hematite using Cargo:

    Build failed, waiting for other jobs to finish...
    Only `-l` and `-L` flags are allowed in build script of `time v0.1.1 (http://github.com/rust-lang/time#288b362e)`: `-L /path/to/hematite/target/build/time-8bde1abd230448f0/out -l time_helpers:static`

Any i

[2014-12-26 14:41] bvssvni opened #168 "Fix for Rust's runtime removal"
[code]

[2014-12-26 14:54] bvssvni opened #170 "Fix for missing Copy on `shader::Buffer`"
The end of a rather long list of errors:

[code]

When trying to add a `#[deriving(Copy)]` on `shader::Buffer` it complains that `buf: gfx::BufferHandle<Vertex>` is not `Copy`.

[2015-01-14 20:11] abbottmg commented on #118
I actually arrived at this project specifically looking for a voxel rendering engine that I could use to play with a more mod-able minecraft. I'm a rust newb waiting for the stable beta to start learning the language, but I'd definitely like to get involved with the project as a training mechanism.

[2015-01-15 22:59] fenhl commented on #118
As I have mentioned on IRC, I may try and start a “Minecraft server in Rust” project, which Hematite could use for the local singleplayer server once some progress has been made.

[2015-01-17 14:24] bvssvni commented on #118
@fenhl You are welcome to start this project under PistonDevelopers, it would be a great match with Hematite!

[2015-01-17 14:41] fenhl commented on #118
@bvssvni That would be great, although I'm still a Rust noob, and I would like to discuss some things with anyone interested in the project before actually creating a repo. Is there an IRC channel for this sort of thing?

[2015-01-17 14:46] bvssvni commented on #118
@fenhl #rust-gamedev (there is a link in the sidebar on [r/rust_gamedev](http://www.reddit.com/r/rust_gamedev/))

[2015-01-19 16:02] toqueteos opened #173 "Region impl using libc"
I am currently working on a patch for hematite to work on 1.0 alpha.

I found this unsafe block which seems **not necessary at all**. Copied from [here](https://github.com/PistonDevelopers/hematite/blob/3167e5e96824e0f98d333e36cb127ac52674ab2c/src/minecraft/region.rs#L25-L49).

[code]

We already have `File::open`, `File::stat` and `AsRawFd` (implemented by File) which are safe. Is anyone against

[2015-01-19 17:07] bvssvni commented on #173
The `os` module has been redesigned in Rust after this was written in Hematite. I think we should go for it!

[2015-01-19 17:08] toqueteos commented on #173
The only downside of this approach right now is that Windows does not support this, right now. Maybe in the future. So for Windows it's the libc route and I'm not even sure it'll work that way...

[2015-01-19 21:21] toqueteos commented on #173
Already in #174.

[2015-01-21 19:16] toqueteos opened #175 "JSON file processing (MC assets)"
There's three big blobs (one on `block_state.rs`, two on `model.rs`) which could be a lot simpler if we used the auto-derive capabilities of `json::decode`.

Example:

[code]

This thing, seems huge but it's mostly struct definitions, with optional fields mostly. It reads all files inside `assets/minecraft/models/block` (assuming they are inside `src/bin/block` and counts them.

Of course it lacks

[2015-01-22 07:29] eddyb commented on #175
I'm pretty sure `Option` only works with `null` turning into `None`, not missing fields (which I handle in NBT, differently than JSON).

[2015-01-22 08:39] toqueteos commented on #175
@eddyb Option does work with missing fields, 100% sure.

[2015-01-22 09:29] eddyb commented on #175
@toqueteos that [must've changed](https://github.com/rust-lang/rustc-serialize/blob/1b97923d4ec7d098f8e145fdc938219e36763184/src/json.rs#L2634-L2646) since when I've written this.
I'll merge any cleanup based on this - I think I never ended up using the NBT decoder - but that's mostly because there's a lot of bulk data which would be inefficiently treated by the decoder model (it's not streaming q

[2015-01-22 13:51] toqueteos commented on #175
@eddyb I have already "ported" 2 of 3 JSON reader code sections. I'll update this with gists.

[2015-01-25 19:39] #173 closed

[2015-01-26 12:13] fenhl opened #176 "Update to latest Minecraft"
Readme says to use 1.8-pre2, which is no longer available in the launcher if you haven't already downloaded it.

[2015-01-26 13:17] eddyb commented on #176
Was it never changed to say `1.8`? Maybe I never truly updated it (even though they should be identical for all intents and purposes).

[2015-01-26 19:04] AaronFriel opened #177 "Windows build launches and immediately exits."
I built Hematite for Windows, and placed the SDL libraries in my `C:\Rust\bin\rustlib\x86_64-pc-windows-gnu\lib`, and it builds a hematite.exe, but launching it does nothing.

I'm having some difficulty understanding the Readme as well, which has the OSX instructions as follows:

* In the Minecraft Launcher, click the button "New Profile"
* Type in a profile name, for example "experimental"
* Chec

[2015-01-27 00:25] eddyb commented on #177
I blame @bvssvni for the awkward instructions. There is no need to rename the jar to .zip, just copy/extract the assets/minecraft folder to assets, the one next to the src folder. I can't remember if the code is smart enough to find it on a release build.

[2015-01-27 00:27] toqueteos commented on #177
Let me update to latest nightlies and try. It should work perfectly.

[2015-01-27 00:28] toqueteos commented on #176
It does work with 1.8.1, all tests I did were with that version and it does indeed work perfectly.

[2015-01-27 00:30] eddyb commented on #177
Oops, mobile + github => accidents.
I should also mention that we could do the decompression ourselves, but the obvious method (run `unzip`) only works "by default" on Linux and maybe OSX.
We could do in-memory decompression, as we have access to (rudimentary) inflate (the image crate has zlib bindings, too, I think), and all we'd need would be an implementation of the PK zip directory/whatever.

[2015-01-27 00:40] AaronFriel commented on #177
So I have, for example:

[code]

That `hematite` folder is the one cloned from git. I'm doing `cargo build --release` again.

[2015-01-27 00:41] toqueteos commented on #177
Confirmed it works.

Instructions:

0. Download and install Rust latest nightlies.
1. Setup Minecraft to download/play version 1.8.1, that's already explained.
2. Go to `%appdata%\.minecraft\versions\1.8.1` folder.
3. Copy `1.8.1.jar` to your desktop or any place you want.
4. Rename the jar to zip.
5. Extract zip somewhere.
6. Open extracted folder.
7. Copy `assets` folder entirely to hematite roo

[2015-01-27 00:44] AaronFriel commented on #177
So it compiles and I get a `hematite.exe` but it immediately exits.

I used procmon to analyze it, and I see it load the DLLs that I would expect it to, `C:\Rust\bin\std-4e7c5e5c.dll` and so on, then it queries for system libraries, then it exits with code -1073741515 or 0x3FFFFECB. Apparently that means a dependency might be missing?

[2015-01-27 00:44] toqueteos commented on #177
@AaronFriel It may be SDL2.dll missing, try copying it to hematite root and repeat step 9.

[2015-01-27 00:50] toqueteos opened #178 "FPS Limit"
hematite runs at with unlimited FPS which causes it to hog both CPU and GPU. Some default FPS limit would be great for the fans of both our CPUs and GPUs.

I was able to limit FPS with external software which lowered CPU usage from 25% (1 core) to merely 1~3%.

[2015-01-27 00:52] toqueteos commented on #177
@AaronFriel Is it working now?

[2015-01-27 02:30] eddyb commented on #178
It used to be capped to 60FPS but I wanted to see what it can do. We should use this occasion to get some proper command-line options via something like docopt/docopt.rs.

[2015-01-27 02:33] eddyb commented on #177
@AaronFriel You seem to have copied individual files without preserving directory structure.
[code]
where `../hematite.orig` is a checkout of hematite I had laying around.

[2015-01-27 02:36] eddyb commented on #177
@toqueteos couldn't we say "open `.jar` file with some archiving tool"? Almost everything I've seen lets you extract part of an archive or even drag&drop/copy-paste to achieve the same effect. I could swear that even the zip support in windows lets you do that.

[2015-01-27 11:24] toqueteos commented on #177
@eddyb That should do that may still confuse some people. Send a PR with new wording and let's see what happens.

[2015-01-27 11:53] toqueteos commented on #178
Maybe an ini file is better suited for this, so when we have a GUI later (conrod I supose) we have just to parse that and write to file when done.

[2015-01-27 13:48] eddyb commented on #178
If you want config it should be JSON or Toml.

[2015-01-27 16:10] toqueteos commented on #178
@eddyb Do we really need that much features for something as simple as...

[code]

?

[2015-01-27 16:12] toqueteos commented on #177
@AaronFriel ping, would like if problem still persists.

[2015-01-27 16:15] toqueteos commented on #156
Still wanted? It's easy but requires to prepend `Nbt::` to avoid conflicts (`Nbt::String` vs `string::String`).

[2015-01-27 16:16] toqueteos commented on #156
Also there's the List prefix on all of these:

- [ ] `ByteList` => `List::Byte`
- [ ] `ShortList` => `List::Short`
- [ ] `IntList` => `List::Int`
- [ ] `LongList` => `List::Long`
- [ ] `FloatList` => `List::Float`
- [ ] `DoubleList` => `List::Double`
- [ ] `ByteArrayList` => `List::ByteArray`
- [ ] `StringList` => `List::String`
- [ ] `ListList` => `List::List`
- [ ] `CompoundList` => `List::Compo

[2015-01-27 16:40] eddyb commented on #156
I think we should prefer `Foo::Bar` to `Bar` or, worse, `FooBar`.

[2015-01-27 23:22] fenhl commented on #178
It might not be as simple with future feature additions. +1 for JSON.

[2015-01-28 11:09] toqueteos commented on #178
It seems we are aiming for Vanilla compability, supporting same config format would be a good thing. I always have thought of hematite like a replacement of the MC jar.

Also, no matter what you add to settings, a key:value store **should do the work**. If you require JSON for game settings then something isn't right.

The Borderlands saga allows a lot of customization with config files and it use

[2015-01-28 11:16] bvssvni commented on #178
What about Toml? It looks pretty while still being flexible.

[2015-01-28 13:47] indiv0 commented on #178
I think Toml would be a good choice, but @toqueteos brought up a good point:

How could we be a perfect replacement for the MC jar if we already can't parse some of the config to rust data structures?

[2015-01-28 14:08] bvssvni commented on #178
Then I agree with @toqueteos . Let's go for a perfect replacement!

[2015-01-28 15:03] toqueteos commented on #178
That's what I thought guys, maybe you had another goals for the project. I'm the newest addition right? You can blame me for free.

[2015-01-28 15:24] toqueteos commented on #177
@AaronFriel ping, problem persists?

[2015-01-28 18:28] AaronFriel commented on #177
Sorry @toqueteos, Life keeps interceding. The directory structure issue was due to me screwing up my path naively in powershell:

`Get-ChildItem .\assets -Recurse | Select { ".\hematite\assets\"+$_.Name } | Select -First 50`

So, here's the actual output of the full path, note that it shows files and folders:

[code]

Here's what I get:

[code]

[2015-01-28 18:46] AaronFriel commented on #177
If I put `SDL2.dll` in the same folder as hematite.exe, I actually get further:

[code]

Then it crashes with no messages or prompts.

[2015-01-30 15:39] bvssvni opened #181 "Compiler errors (Copy constraint on `Buffer`)"
The methods on `Cell` requires a `Copy` constraint, which is no longer implemented by `Buffer`.

[code]

[2015-01-30 15:40] bvssvni commented on #181
The PR that broke it in Gfx was https://github.com/gfx-rs/gfx-rs/pull/507

[2015-01-30 15:41] bvssvni commented on #181
https://github.com/sectopod/gfx-rs/commit/7de1690687135ff30424dff1b39990dbad574215#diff-9727ac41ee298b338aa97b20cd10c264L204

[2015-01-30 15:43] bvssvni commented on #181
No, I was wrong. The `Copy` constraint was moved here https://github.com/sectopod/gfx-rs/commit/7de1690687135ff30424dff1b39990dbad574215#diff-9727ac41ee298b338aa97b20cd10c264R214

[2015-01-30 15:51] bvssvni commented on #181
The problem is that `Copy` is implemented with a `where` constraint.

I guess, somehow the `<ShaderParam as gfx::shade::ShaderParam>::Link` is not `Copy`.

[2015-01-30 16:26] eddyb commented on #181
There should be a rust issue about deriving not working correctly with associated types.

[2015-01-30 17:49] toqueteos commented on #181
Dup of #170 ?

[2015-02-01 22:51] bvssvni commented on #170
This was fixed, while the current problem is related but not the same. Closing.

[2015-02-01 22:51] #170 closed

[2015-02-01 22:51] bvssvni commented on #181
@eddyb Are you suspicious about this being a bug in Rust?

[2015-02-01 23:24] eddyb commented on #181
It's a known issue, and I expect there to an issue open on it in the Rust repo.

[2015-02-02 15:24] fenhl commented on #176
So we could just update the version in the readme?

[2015-02-04 19:24] Yamakaky opened #182 "Build fail : no package 'render'"
Hi
For me ([and travis](https://travis-ci.org/PistonDevelopers/hematite/builds/48905186)), the build fails with this message :

    no matching package named `render` found (required by `hematite`)
    location searched: https://github.com/gfx-rs/gfx-rs
    version required: *

[2015-02-04 19:44] toqueteos commented on #182
Investigating...

[2015-02-04 19:58] toqueteos commented on #182
Patch incoming..! gfx-rs did some changes:

- device is now gfx_device_gl.
- render is now inside gfx.

[2015-02-04 19:59] Yamakaky commented on #182
Sorry for the poor bug report. I use ArchLinux with the latest nightly (just downloaded).
BTW, travis fails with the same error.

[2015-02-04 20:00] Yamakaky commented on #182
Instead of hardcoding the git url, maybe you should use crates.io ?

[2015-02-04 20:06] toqueteos commented on #182
This happens almost daily, nightlies change and something breaks.

The [FromStr](http://doc.rust-lang.org/std/str/trait.FromStr.html) trait got changed too so there's more changes to do in other places not just hematite.

[2015-02-04 20:12] Yamakaky commented on #182
Be brave, a few weeks and it's in 1.0 !

[2015-02-04 20:23] toqueteos commented on #182
gfx_voxel should be fixed in a moment, once that is patched will see if there are more problems on the way.

[2015-02-04 20:34] Yamakaky commented on #182
You didn't answer my question : why don't you use crates.io ? If I'm right, you would not have to put the git repo url in your Cargo.toml, would you ?

[2015-02-04 20:40] toqueteos commented on #182
@Yamakaky That's not my decision, I'm a recent contributor. It was already like that when I joined two weeks ago.

**MY OPINION:** Once we are stable enough, or just with Rust 1.0 we may go for crates.io versioning but right now it's just not worth the effort.

[2015-02-04 20:43] Yamakaky commented on #182
Ok, thanks.

[2015-02-04 21:04] bvssvni commented on #181
See https://github.com/rust-lang/rust/pull/21237

[2015-02-04 21:24] kvark commented on #181
I'll deal with it tonight, unless it's fixed by then.

[2015-02-04 21:55] #182 closed

[2015-02-04 22:02] bvssvni commented on #182
@Yamakaky The reason we use git urls is because we try to keep things updated, and when Travis CI fails we get a notice.

[2015-02-04 22:14] Yamakaky commented on #182
ok.

[2015-02-05 06:03] kvark commented on #181
This should be fixed in latest, but the new gfx-rs version has not yet been published.

[2015-02-05 20:39] kvark commented on #181
Gfx v0.1.2 has been published. Please try again with `cargo update`.

[2015-02-05 20:47] toqueteos commented on #181
I just tried on windows. Same outcome thing as before.

[2015-02-05 20:50] kvark commented on #181
Thanks @toqueteos ! I'll have a closer look at this when I'm back at home. We do have the `Copy` implemented now, and there is even a test for it, so I find it strange that the error is still there.

[2015-02-05 20:53] toqueteos commented on #181
You're welcome @kvark! Just in case I also tried with a fresh clone in a different folder but still no luck. Same 4 nasty errors.

[2015-02-05 20:54] kvark commented on #181
I think I found something. Here is your struct:
[code]
So even if both gfx parts are `Copy`, it doesn't make `Copy` implemented for your `Buffer` by default. I think you are just missing `#[derive(Copy)]` for it.

[2015-02-05 20:56] toqueteos commented on #181
Totally right, I forgot to add the missing derive Copy. It does indeed compile again! Let me copy the MC assets and make a screenshot!! YAY :+1: for @kvark

[2015-02-05 20:57] kvark commented on #181
Thanks! Closing as fixed.

[2015-02-05 22:33] bvssvni commented on #181
This needs a PR, but mac nightlies are delayed so I can't fix it now.

[2015-02-05 22:41] toqueteos commented on #181
@bvssvni Working my ass off on it, also fixing loads of stuff.

[2015-02-05 23:00] toqueteos opened #185 "std::os::args warning"
Apparently [std::os::args](http://doc.rust-lang.org/std/os/fn.args.html) and [std::env::args](http://doc.rust-lang.org/std/env/fn.args.html) don't work the same way so we can't just fix this warning with text replace.

[code]

Code affected is the first 3 lines of `main.rs`:

[code]

[2015-02-05 23:07] #181 closed

[2015-02-05 23:09] toqueteos commented on #177
@AaronFriel Sorry for the delay, nightlies changes broke hematite.

It now builds again with latest nightlies so.. would you mind retrying again please?

[2015-02-06 10:27] fenhl commented on #185
The easy way:

[code]

An alternative to consider would be using [docopt](http://burntsushi.net/rustdoc/docopt/index.html).

[2015-02-06 14:01] toqueteos opened #187 "Strange visual glitch on latest hematite build"
I didn't update to latest nighlies today (windows apparently is built every two days?) so I could still test hematite, something is very wrong.

[code]

Here you have a video showing it: https://www.youtube.com/watch?v=Zjj2iv-wSEg

Any ideas what may be causing this? It seems like an issue with normals and culling.

[2015-02-06 17:12] bvssvni commented on #187
I couldn't spot any repeating patterns. Perhaps it renders each chunk per frame?

[2015-02-06 17:17] toqueteos commented on #187
You should be able to reproduce build by using a previous gfx-rs and nightlies. I'm sorry, windows here :/

[2015-02-06 20:13] #176 closed

[2015-02-09 20:01] toqueteos commented on #187
Still there with `rustc 1.0.0-nightly (74b874071 2015-02-08 00:24:03 +0000)`

[2015-02-09 20:01] kvark commented on #187
So it's a windows-specific thing? Maybe something to do with the OpenGL context version you are getting.

[2015-02-09 20:04] toqueteos commented on #177
Ping. Just updated repo, it's compiling but you may get weird results as in #187

[2015-02-09 20:05] toqueteos commented on #187
Linux / Mac users confirming this would help.

[2015-02-09 20:10] kvark commented on #187
Assigned myself on it, but will only be able to look at it later tonight, so please go ahead and investigate if you can.

[2015-02-09 20:11] bvssvni commented on #187
Tested on OSX. Same glitch here.

[2015-02-09 20:15] toqueteos commented on #168
This was already solved, MemoryMap got some nice love on e8f8581921c5f30064fd70ed073cd9121518a53e, closing.

[2015-02-09 20:15] #168 closed

[2015-02-09 20:49] kvark commented on #187
Actually, the graphics code seems to be correct. It might not be the rendering part that fails but rather the voxel traversing part.

[2015-02-09 21:09] Yamakaky opened #190 "Build fail: trait Copy not implemented"
Hi
I have a build fail with this message:
[code]

[2015-02-09 21:10] bvssvni commented on #190
Try `cargo update`

[2015-02-09 21:17] Yamakaky commented on #190
Now I have a 'Maybe a missing `extern crate std`' in gl_generator ^^

[2015-02-09 21:18] bvssvni commented on #190
:laughing:

[2015-02-09 21:21] Yamakaky commented on #190
2 secs, I update rust.

[2015-02-09 21:32] Yamakaky commented on #190
That was it, it builds now. But
`thread '<main>' panicked at 'Usage: ./hematite <path/to/world>', /home/rustbuild/src/rust-buildbot/slave/nightly-dist-rustc-linux/build/src/libcore/option.rs:330`

[2015-02-09 23:59] risyasin commented on #187
Same bug/glitch here too.
All fresh install on osx 10.10.2
rustc 1.0.0-nightly (00df3251f 2015-02-08 23:24:33 +0000)
MD5 (1.8.1.zip) = 5c9aaf31199f763ef9085cc9b6902b1d

[2015-02-10 00:03] risyasin commented on #187
Not sure it's a problem but while compiling hematite i got these warnings.

![screen shot 2015-02-10 at 02 01 49](https://cloud.githubusercontent.com/assets/283117/6118694/d7c8c314-b0c8-11e4-8201-3d4094f3632d.png)

[2015-02-10 00:11] toqueteos commented on #190
@Yamakaky `cargo run --release "path/to/world"`

[2015-02-10 00:11] #190 closed

[2015-02-10 05:53] kvark commented on #187
@risyasin yes the first warning is worrisome, but it's not related to the bug.

I verified that it's a logic issue in chunk storage or sorting. The title shows number of blocks total/rendered/sorted, and these stay at 0 when the app is fully loaded. Hence, you are not sending any draw calls.

[2015-02-10 06:12] kvark commented on #187
I added another number to the title string (locally) to output the number of chunks pending (i.e. whose buffer is None). This shows all 1082 chunks to be pending after it "loaded". Something seems to be clearing the buffer fields of chunks, but I don't know what. When a chunk is just loaded, it gets rendered properly, but only for a single frame.

[2015-02-10 07:46] Yamakaky commented on #190
Ok, thanks. Maybe you should improve this error message ?

[2015-02-10 13:59] toqueteos commented on #190
The error is already saying the same thing I said, the only change possible would be not panicking, calling something like `os::exit` (not sure if it exists).

[2015-02-11 00:13] natemara commented on #178
I actually came here to suggest the same thing, I tried running hematite, and it consumed all of my cpu power and hung up my display. Before it crashed my system, the window title said that I was getting over 1200 FPS.

[2015-02-11 00:38] toqueteos commented on #178
@natemara As a temporal fix you can:

1. Change this line of code https://github.com/PistonDevelopers/hematite/blob/master/src/main.rs#L188 to a more reasonable value.
2. Or use external software to limit FPS.

[2015-02-11 02:39] kvark commented on #187
@huonw advised bissecting Rust to find out if LLVM upgrade caused it:

Yurume:

It is estimated to take about 24G of the space, which I don't have at the moment:

Any volunteers? :)

[2015-02-11 05:22] mattico commented on #187
FWIW, on windows all I get is an empty screen.
![image](https://cloud.githubusercontent.com/assets/853158/6142410/ab1299fe-b17b-11e4-8a26-487926370d7b.png)

[2015-02-11 13:00] toqueteos commented on #187
Woah... things changed a bit with latest nightlies guys.

Best way to explain is video: https://www.youtube.com/watch?v=FoQOPwbjmkw

I limitted FPS to 60 by setting https://github.com/PistonDevelopers/hematite/blob/master/src/main.rs#L188 to `60` instead of `10_000`.

As you can see something is slowing down chunk loading.

[2015-02-11 15:42] kvark commented on #187
This is getting weirder and weirder. We need to strip down hematite and narrow it to a single function or something...

[2015-02-12 23:52] toqueteos commented on #187
#195 gets us working with latest nightlies. Slow chunk loading is gone but chunks are still rendered just once.

[2015-02-16 18:47] pharno commented on #187
I also get this glitch (original one, not blank screen) on OSX 10.9, with cargo 0.0.1-pre-nightly (3f74d7e 2015-02-14) (built 2015-02-14).

My guess is that there is some matrix getting pushed, but not popped again, but im just guessing here.

[2015-02-16 18:53] eddyb commented on #187
@pharno There is no Matrix.

[2015-02-16 18:56] pharno commented on #187
@eddyb is that a matrix joke or is there legitimately no (opengl) matrix in there?

[2015-02-16 19:03] eddyb commented on #187
Hematite never used immediate mode, so no, there's no matrix stack. And I was being cheesy, too.

[2015-02-16 19:21] pharno commented on #187
first frame looks normal. after that it kind of "explodes". Set the max fps to 1 and you'll see what I mean.

[2015-02-19 19:46] kvark commented on #187
Caused and blocked by https://github.com/rust-lang/rust/issues/22536

[2015-02-25 08:41] Svengali opened #196 "Compile issues on Windows"
So, with the help of the excellent Reddit sub, I _almost_ got everything compiled.  It looks like things are failing on:

pub struct BlockStates {
    models: Vec<ModelAndBehavior>,
    texture: Texture
}

Texture needs a type argument.  Ive tried all sorts of things.  gfx::GLDevice, gfx::Device, etc.

Unfortunately, this is my first Rust project, so Im at a loss.  I dont know how to find the info

[2015-02-25 10:47] toqueteos commented on #196
It's github.com/gfx-rs/gfx-rs, Texture changed and it's missing a generic param.

Send PR or wait until I get home and fix build.

[2015-02-25 12:49] bvssvni opened #197 "Add back Cargo.lock"
Now that Rust stabilizes, it would be great to be able to check out a working version of Hematite.

Remove "Cargo.lock" from .gitignore

[2015-02-25 17:28] toqueteos commented on #196
Ok, I talked with @kvark on IRC (thanks for explanations mate!) and as he suggested we should not fix this, yet. gfx-rs is ongoing major changes and with Rust still on nightlies we better way a bit.

Just in case you want to fix it, adding `gfx::GlResources` on most places complaining about a missing generic param should get you going.

[2015-02-25 17:41] kvark commented on #196
@toqueteos I didn't suggest you to not fix it, no! I said you could either put `gfx::GlResources` or make all the thing generic with `<R: Resources>` parameter. The latter is the "right way" to fix it, but it should better wait till https://github.com/gfx-rs/gfx-rs/pull/598 is done.

[2015-02-25 17:42] toqueteos commented on #196
Right, let me fix  that.

[2015-02-25 18:47] Svengali commented on #196
I added GLResources almost everywhere (COW strings changed too).

But, I get this for the block_state.rs Texture error:

src\minecraft\block_state.rs:27:1: 30:2 error: the trait `gfx_device_gl::Device` is not implemented for the type `gfx_device_gl::gl_device::GlResources` [E0277]
src\minecraft\block_state.rs:27 pub struct BlockStates {
src\minecraft\block_state.rs:28     models: Vec<ModelAndBehav

[2015-02-25 19:40] kvark commented on #196
The `Texture` comes from `gfx_texture::Texture`, which is parametrised by `gfx::Device`.
@Svengali use `texture: Texture<gfx::GlDevice>` instead

[2015-02-25 19:44] Svengali commented on #196
Yeah, tried that and just gfx::Device.  For the first one I got:

src\shader.rs:94:35: 94:42 error: mismatched types:
 expected `gfx_device_gl::Handle<u32, gfx_device_gl::tex::SamplerInfo>`,
    found `gfx_device_gl::Handle<<<D as gfx_device_gl::Device>::Resources as gfx_device_gl::Resources>::Sampler, gfx_device_gl::tex::SamplerInfo>`
(expected u32,
    found associated type) [E0308]
src\shader.r

[2015-02-25 19:53] kvark commented on #196
@Svengali that's because `Renderer` (in shaders.rs) is generic over `gfx::Device`. It's a good thing, you just can't combine structures that are generic over something with structures that are specialized. It's not a gfx-rs specific thing, it's how generics work in general.

So, back to the problem. You should either make everything gfx-related to be generic, or to be specialized for GL only. I re

[2015-02-25 19:59] kvark commented on #196
Our device abstractions work as follows:
[code]

Most of the stuff depends on `Resources`, though some stuff needs `Device` (like `gfx_texture::Texture`), from which you can access `Resources` as an associated type.

[2015-02-25 21:43] Svengali commented on #196
Thanks for all the help.  Ive tried all variations, but still not quite doing it.

Ill keep plugging away, but Im also just sorta waiting for the official fix.

[2015-02-25 21:52] kvark commented on #196
@Svengali thank you for trying! And sorry for all the trouble...
I'll fix it tonight if you don't manage to finish it.

[2015-02-26 07:29] Svengali commented on #196
I applied @kvark 's changes and it looks like everything loaded.

Its just a default color background with nothing being rendered at the moment.  But its progress.

[2015-02-26 07:29] #196 closed

[2015-02-27 01:14] kvark commented on #187
As a workaround one could try using `b.copy().get()` here:
https://github.com/PistonDevelopers/hematite/blob/master/src/chunk.rs#L113

That would require `#[derive(Copy, Clone)]` on `struct  Buffer`

[2015-02-27 05:03] fenhl commented on #197
:+1: With this, I might one day actually be able to run Hematite.

[2015-02-27 12:28] toqueteos commented on #185
It got easier!

[code]

[2015-02-27 12:31] toqueteos commented on #187
@kvark Doesn't work :cry:, `Buffer` contains a `RefBatch` which isn't `Clone`.

[2015-02-27 16:20] #185 closed

[2015-02-27 16:23] toqueteos commented on #177
Could you please retry with current nighlies and latest commits?

[2015-02-27 18:25] toqueteos commented on #116
Latest Travis log shows there's just slice warnings.

[2015-02-27 21:01] #197 closed

[2015-02-28 23:23] fenhl opened #201 "Position shift when looking straight up or down"
When looking straight up or down, the position of the camera appears to shift forward by about 2 pixels.

[2015-03-01 14:18] kvark commented on #187
Verified fixed in latest. Thanks @pnkfelix!

[2015-03-01 14:18] #187 closed

[2015-03-01 14:25] bvssvni commented on #187
The end of an epic bug hunt!

[2015-03-01 14:37] toqueteos commented on #187
Is this real? Thanks @pnkfelix!

[2015-03-01 14:50] bvssvni opened #203 "Add application structure for Hematite"
I think the main method is too large, and we should try to refactor it a bit.

One way to do that is to add an application structure which we can pass around.

[2015-03-04 20:35] mattico commented on #177
The takeaway from this issue for me is that using hematite is a little tedious right now.  This isn't a huge issue for right now since hematite is tech demo status, but it also doesn't seem too difficult to fix.  Wouldn't it be ideal to have hematite find the minecraft data, and unzip it (perhaps at runtime) rather than doing it manually?

[2015-03-04 20:43] toqueteos commented on #177
@mattico What part is tedious? You just have to copy SDL2.dll and the jar folder.

[2015-03-05 01:28] mattico commented on #177
@toqueteos I found the 13 step process enumerated above to be a bit tedious.  Granted, half of that is within the minecraft launcher and can't really be avoided, but it wouldn't be overly difficult to just have hematite open the jar itself. Ideally the entire process would be:
1. Get correct jar in minecraft launcher
2. Make a new world
3. `cargo run --release -world new_world`

90% of the time th

[2015-03-05 11:05] bvssvni commented on #177
@mattico That's a good idea. Could be a small library handling this part, and give an error message if it doesn't find the path.

[2015-03-05 13:29] eddyb commented on #177
Zip handling is actually pretty easy (just a collection of deflated files) - though it would be nice to shell out to `unzip` but I have no idea how that would work on windows.

[2015-03-05 13:50] toqueteos commented on #177
@eddyb There's https://crates.io/crates/zip I'm prototyping something for this right now.

[2015-03-05 14:15] eddyb commented on #177
@toqueteos That looks pretty much exactly like what I would expect from a Rust implementation, great find!

[2015-03-05 14:51] toqueteos commented on #177
Here's a working version: https://gist.github.com/toqueteos/e2e2921d4f9e639b0eec

@eddyb It has its quirks.. (`file.name()` fucks everything because of litetime) but got it working.

[2015-03-05 16:21] eddyb commented on #177
@toqueteos `~` won't work, that's a shell thing, you need to grab `$HOME` using `std::env` (not `env!`, that's compile-time) - I wonder if that's available on windows - actually, nvm, I don't think is `%HOME%`  is `%APPDATA%`, it's more likely `C:\Users\name`.

[2015-03-05 16:23] pharno commented on #177
this discussion seems to have gone a bit offtopic?

I suggest creating a new issue for it.

[2015-03-05 17:16] toqueteos commented on #177
What is wrong with $HOME at compile-time?

[2015-03-06 02:15] mattico commented on #177
@pharno yep, that seems to be my fault...

@toqueteos Yep, that works.

[2015-03-06 04:38] mattico opened #209 "Make setup a little easier."
I'm creating this issue to organize the discussion that started in #177 about making the setup process for hematite a little easier. In particular, [this Gist](https://gist.github.com/toqueteos/e2e2921d4f9e639b0eec) by @toqueteos is of interest. Goals:
* Reduce required arguments as much as possible
* Reduce set-up steps as much as possible
* Simplify world file handling

In order to accomplish th

[2015-03-06 04:39] mattico commented on #177
Let's move this discussion over to #209

[2015-03-06 14:29] toqueteos commented on #209
Hmm... flags package. I can finally tinker with docopt!

[2015-03-06 21:39] toqueteos commented on #209
gist working at #210, currently not building because of gfx-rs.

[2015-04-29 18:57] kvark opened #214 "Upgrade for modern gfx-rs, using Stream/Canvas"
Also, kill SDL2 usage in favor of Glutin and `gfx_window_glutin`, since we are at it.

cc @eddyb

[2015-04-30 03:17] kvark opened #215 "Remove quack library usage"
Impossible to get it compiling on latest as long as it's using quack.

[2015-04-30 20:00] bvssvni commented on #215
quack is deprecated. All the methods are replaced with new design.

[2015-05-10 20:51] mattico commented on #215
I'm working on this right now.  The new rust nightly broke a bunch of stuff which means that there's dependency hell with all of the piston and gfx-rs stuff, but I almost have it finished.

[2015-05-10 22:22] kvark commented on #215
@mattico nice! If you succeed, we may even be able to make Hematite running on rust beta/release in time.

[2015-05-11 00:24] mattico commented on #215
@kvark I'm targetting the current nightly at the moment because that's what I have, but once I finish I'll see what work (if any) it'll take to target beta.

For a bit of a progress report:
* `cargo update`
* `flate` (deprecated) -> `flate2`
* `os::MemoryMap` -> `mmap`
* `rustc-serialize` `0.2.8` -> `0.3.x`
* `range(a, b)` -> `a..b`
* `old_io` -> `io`

and other misc. changes to remove deprecated

[2015-05-11 00:43] kvark commented on #215
@mattico I'd be happy to assist with any gfx-related questions What errors do you get?

[2015-05-11 02:00] mattico commented on #215
@kvark The current version is here: https://github.com/mattico/hematite/tree/remove-quack

The `Renderer` struct in `src/shader.rs` needs changing so that the graphics field matches the new types from gfx-rs, and I've probably done it wrong since I haven't really looked too deeply into gfx-rs.

There's also a bunch of method/trait not implemented errors in `main.rs`, even though the methods _are_

[2015-05-11 02:42] mattico commented on #215
@kvark I completely forgot that I removed quack already, that explains a lot of the strange type errors.

[2015-05-11 20:23] kvark commented on #215
@mattico a good practice would be to file a PR in progress (add `[WIP]` to the title or something). This way I'd be able to point to specific places in code and suggest fixes, or even take your stuff and fix all gfx error, submitting a new PR from it.

[2015-05-12 02:17] mattico commented on #215
@kvark Yep, I was going to do that earlier but I got busy.  I'll do that now.

[2015-05-12 22:26] kvark opened #217 "Consider using gfx_scene"
Hematite seems to be a good candidate for gfx [high-level rendering](https://github.com/kvark/gfx_scene). Without loosing too much abstraction/flexibility, you'd get scene culling and sorting for free. If it needs some custom logic for the culler, this [can be done](https://github.com/kvark/gfx_scene/blob/master/src/scene/cull.rs) too.

Note: this partially conflicts with a possible Glium renderer

[2015-05-13 01:37] #215 closed

[2015-05-15 22:30] mattico commented on #116
This is solved now.

[2015-05-15 22:30] #116 closed

[2015-05-16 00:10] mattico opened #220 "Update the Cargo Dependencies Diagram"
Low priority, but I want to remember to update this as it's not currently correct.  I'm having trouble building [cargo-dot](https://github.com/maxsnew/cargo-dot), which might be something to do with my machine as the error is quite strange. I'll file an issue once I'm sure that it's just due to nightly churn. If anyone has a binary sitting around it would be easiest to just use that.

[2015-05-16 18:25] fenhl commented on #220
As an alternative to cargo-dot, this could be done with [cargo-lock-to-dot](https://github.com/brson/cargo-lock-to-dot) which does not require compiling a cargo plugin.

[2015-05-17 02:51] #220 closed

[2015-05-17 05:04] mattico commented on #214
I can take this one if you don't mind. I'll see how much glutin I can handle, but I see that there are some changes going on in gfx-rs right now wrt Stream/Canvas, so I'll wait on that.

[2015-05-17 13:41] kvark commented on #214
@mattico this is very brave of you! Breaking changes in gfx-rs are currently done inside the v0.5 branch, see the full list in https://github.com/gfx-rs/gfx-rs/issues/737

You can still do the upgrade. The changes needed after gfx-v0.5 will not be major.

[2015-06-04 15:36] sumproxy opened #223 "Running on OS X (10.9.5) fails"
Here's the error message:
[code]

Please let me know how I can get further info for you if necessary

[2015-06-04 15:54] sumproxy commented on #223
Failed to read the instructions to the end. Sorry

[2015-06-04 15:54] #223 closed

[2015-06-07 13:20] bvssvni opened #225 "Add/delete blocks"
This is something that would be nice to have.

[2015-06-09 08:33] fenhl commented on #225
I think this falls within the scope of [hematite_server](https://github.com/PistonDevelopers/hematite_server).

[2015-07-04 15:54] Calinou opened #226 "Ship replacement assets"
Currently, it is not possible to start Hematite without having a copy of Minecraft around. What about shipping freely licensed replacement assets that can be used?

I can find or make some if needed.

[2015-07-04 16:24] eddyb commented on #226
You can't replace assets, they include block state definitions and block models.

[2015-07-04 17:56] Calinou commented on #226
We can also make our own block models, and we can probably get away with writing our own state definitions (or just copying them, as those are hardly copyrightable).

[2015-07-04 18:17] eddyb commented on #226
@Calinou if you consult with a lawyer, sure (EFF could be of assistance here IIRC).
Beware that Minecraft is now owned by Microsoft.

[2015-07-04 19:30] aij commented on #226
Do we know what the arrangement with Microsoft was? Are they now obliged to keep the original promise to open source it?

[2015-07-04 21:11] Calinou commented on #226
It never was a proper, legally binding promise...

[2015-08-31 12:24] bvssvni opened #229 "Rename package to "hematite-client""
The name "hematite" is taken by https://github.com/limeburst/hematite on crates.io.

I suggest that we use `hematite-` as a prefix.

[2015-08-31 13:55] eddyb commented on #229
I'm okay with it, though it's sad that something outdated took the name.

[2015-08-31 14:18] sinistersnare commented on #229
another argument for namespaced packages :p

[2015-09-09 11:52] bvssvni commented on #118
Closing.

[2015-09-09 11:52] #118 closed

[2015-09-13 17:39] #156 closed

[2015-10-27 20:36] c-cube commented on #226
I think there are alternative assets, e.g. on http://www.minecrafttexturepacks.com/ . Need to check the license though.

[2015-11-21 08:19] pzuraq opened #237 ""No such file or directory" when trying to run"
[code]

[2015-11-21 08:48] pzuraq commented on #237
Got it, needed to copy `<version>.jar/assets/minecraft`, not the entire contents of the jar.

[2015-11-21 08:48] #237 closed

[2015-11-22 16:59] #229 closed

[2015-11-25 11:33] bvssvni opened #243 "Fix wildcard dependencies"

[2015-11-25 16:37] #243 closed

[2015-11-25 16:46] toqueteos commented on #209
@bvssvni Do we consider this as fixed now that my slowest contrib ever is finally done? #210

[2015-11-25 16:48] bvssvni commented on #209
Closed by https://github.com/PistonDevelopers/hematite/pull/210

[2015-11-25 16:48] #209 closed

[2015-12-05 18:51] RichardlL commented on #225
Sorry to pull up this dead thread

The client still needs to be able to edit rendered map, without having to reload the entire chunk

[2015-12-05 19:40] RichardlL commented on #203
I've started a Minecraft Server in rust  https://github.com/RichardlL/Tunnul

just for fun a few days ago.  I would have contributed to the Hematite's server, but I haven't made any big projects before, and I wanted to do it alone so I could learn, not be afraid to screw up, etc.  Not a "serious" project. Its ugly right now, and not a good example of idiomatic code, but I'm mostly using github to

[2015-12-06 11:40] toqueteos commented on #203
@RichardlL I like your channel-based approach to handle Keep Alives! You should change your README to use `- [x] Done / - [ ] Not done` syntax for the _todo_ list.

[2015-12-06 17:05] RichardlL commented on #203
Thanks you, @toqueteos!  Great to hear feedback, I was kinda getting discouraged since I was the only unique viewer of my repo.

I haven't implemented the actors beside that because I haven't got that far, I'm only a week in, and like I said, its my first big project :)

What I was "planning" on was completely removing the game loop to improve performance. (hypothetically, I didn't even expect I'd

[2015-12-06 17:23] RichardlL opened #249 "Copy mapfile automatically, by name (Feature)"
(I know in a previous issue said how the map file reading is unnecessary for the client, but while it is still in testing, its obviously still needed.)

What I mean is when launched it with

[code]
hematite would copy and load/manipulate your world from
[code]
automatically, as it does with the 1.8.3 jar.

It would also be convenient if when called with no arguments, It would list your save files.

[2015-12-06 18:36] RichardlL commented on #201
Pull request:

https://github.com/PistonDevelopers/hematite/pull/250

[2015-12-06 18:51] bvssvni commented on #201
Fixed by https://github.com/PistonDevelopers/hematite/pull/250

[2015-12-06 20:00] RichardlL commented on #226
On the issues of legality, you dont need a lawyer, just google!
Here is the official terms:
https://account.mojang.com/terms#brand
and restrictions (EULA is also linked),

Basically  you can't
 * You can't sell access to minecraft content (e.g. Pay for ability to get diamond armor)
 * Or give the official Mojang software away for free.)
 * Try to affilaite yourself with minecraft (e.g. Hematite: O

[2015-12-06 20:01] toqueteos commented on #203
@RichardlL I was actually playing with worldgen today, porting a thingy that @HeroesGrave [did some time ago](https://github.com/HeroesGrave/hematite/commit/e51b58dffea7491a60135f697a823ac028d9b226) but didn't finally make it into hematite so it would work with the actors approach from your Tunnul's keep-alive.

If I didn't missunderstand you, you are proposing making the client a dummy one that j

[2015-12-06 20:06] toqueteos commented on #249
This should be quite easy to do right now. It may happen sooner than you think... :smile:

[2015-12-06 20:09] RichardlL commented on #203
Will do!

That's how the vanilla client works, I think since 1.4.

When you start a new world, it hosts a server, and then your client connects to it.

It also simplifies things a lot (only have to update gamelogic once, etc)

[2015-12-06 20:21] toqueteos commented on #203
Development has happened in bursts and some things from the IRC weren't written here in issues so there might be lacking info about parts of the process, that's right. Anyway, the dummy client is actually on the roadmap and it's being "tracked" in https://github.com/PistonDevelopers/hematite_server/issues/97

[2015-12-07 00:03] eddyb commented on #201
Wrong fix, the problem is that `camera.forward` can have `x` and `z` equal to `0`, i.e. looking straight up or down, which is... maybe not incorrect, but the camera still needs to always preserve a horizontal direction to be minecraft-like.
Which would be the `yaw`, I believe. Extracting that and using it for the `xz_forward` offset #250 effectively removed should do the trick.

[2016-01-10 20:08] cmr opened #257 "Relicense under dual MIT/Apache-2.0"
This issue was automatically generated. Feel free to close without ceremony if
you do not agree with re-licensing or if it is not possible for other reasons.
Respond to @cmr with any questions or concerns, or pop over to
`#rust-offtopic` on IRC to discuss.

You're receiving this because someone (perhaps the project maintainer)
published a crates.io package with the license as "MIT" xor "Apache-2.0

[2016-01-10 20:14] steveklabnik commented on #257
I license past and future contributions under the dual MIT/Apache-2.0 license, allowing licensees to chose either at their option.

[2016-01-10 21:10] mitsuhiko commented on #257
I license past and future contributions under the dual MIT/Apache-2.0 license, allowing licensees to chose either at their option.

[2016-01-10 21:19] meatcompute commented on #257
I license past and future contributions under the dual MIT/Apache-2.0 license, allowing licensees to chose either at their option.

[2016-01-11 07:04] limeburst commented on #257
I license past and future contributions under the dual MIT/Apache-2.0 license, allowing licensees to chose either at their option.

[2016-01-11 09:53] leonkunert commented on #257
I license past and future contributions under the dual MIT/Apache-2.0 license, allowing licensees to chose either at their option.

[2016-01-11 12:15] lucidd commented on #257
I license past and future contributions under the dual MIT/Apache-2.0 license, allowing licensees to chose either at their option.

[2016-01-11 18:41] RichardlL commented on #257
I license past and future contributions under the dual MIT/Apache-2.0 license, allowing licensees to chose either at their option.

[2016-01-11 18:43] carlosmn commented on #257
I license past and future contributions under the dual MIT/Apache-2.0 license, allowing licensees to chose either at their option.

[2016-01-11 18:49] saml commented on #257
I license past and future contributions under the dual MIT/Apache-2.0 license, allowing licensees to chose either at their option.I license past and future contributions under the dual MIT/Apache-2.0 license, allowing licensees to chose either at their option.

[2016-01-11 21:12] bvssvni commented on #257
I license past and future contributions under the dual MIT/Apache-2.0 license, allowing licensees to chose either at their option.

[2016-01-11 22:54] homeworkprod commented on #257
My change doesn't qualify as "creative work", so according to the above statement, my consent is not necessary.

[2016-01-14 05:46] DaemonLee commented on #257
I license past and future contributions under the dual MIT/Apache-2.0 license, allowing licensees to chose either at their option.

[2016-01-29 00:56] indiv0 commented on #257
I license past and future contributions under the dual MIT/Apache-2.0 license, allowing licensees to chose either at their option.

[2016-01-29 18:29] mattico commented on #257
I license past and future contributions under the dual MIT/Apache-2.0 license, allowing licensees to chose either at their option.

[2016-03-03 16:48] mattico commented on #177
I'm closing this, since the original problem has been mitigated by #210 and better instructions.

[2016-03-03 16:48] #177 closed

[2016-03-09 22:36] mattico commented on #165
Related to https://github.com/rust-lang-deprecated/time/issues/42 and fixed by https://github.com/rust-lang/cargo/issues/1015.

I'm pretty certain this isn't an issue anymore, so I'm closing this.

[2016-03-09 22:36] #165 closed

[2016-03-09 22:43] mattico commented on #249
I can do this once I'm done with https://github.com/PistonDevelopers/hematite/pull/260.

If I'm understanding correctly, the first part works already e.g. `hematite Test` loads the map named Test from the minecraftdir. It doesn't copy the save though (is that necessary?)

The second part does sound like a good idea, though I think it should require an argument or an invalid  world to be given as i

[2016-03-13 00:06] #214 closed

[2016-03-13 01:00] mattico opened #261 "Add automated benchmarks"
It would be nice to have automated and repeatable benchmarks in hematite. I see two ways of accomplishing this, and it might be nice to have both:

1. Abstract the render loop into functions and then call these functions inside some standard `#[bench]` tests. This method is limited by the simplicity of the Bencher API, but it can still be useful.

2. Have a benchmark mode similar to many games tha

[2016-03-14 19:31] mattico commented on #203
I've been working on this a bit: https://github.com/mattico/hematite/tree/add-app-structure

Still needs some refinement.

[2016-03-17 02:21] mattico commented on #249
I'll do this once I'm done with #203 :laughing:

[2016-05-21 03:51] bvanevery opened #265 "stale directions for SDL2 dependency on Windows"
Can't just "cargo build" on Windows due to missing SDL2 dependencies.

The hematite github page says on Windows, "Copy SDL2.dll to C:\Rust\bin\rustlib\x86_64-pc-windows-gnu\lib, also in Hematite's root folder.".  I don't think this corresponds to any meaningful directory in Rust 1.8.  Mine for instance lives in "C:\Program Files\Rust stable MSVC 1.8\bin" and I don't see any rustlib subdirectory.

[2016-05-21 04:13] eddyb commented on #265
I wish we could just move to glutin, but the lack of relative mouse input is keeping us using SDL.
It might be worth at least investigating whether that can be done on Windows, keeping the SDL dependency to just UNIX systems.
cc @retep998

[2016-05-21 05:22] retep998 commented on #265
There is so totally relative mouse input on Windows. Adding it to glutin should be E-easy for anyone familiar with windows api.

[2016-05-21 05:36] retep998 commented on #265
For future reference of anyone who does decide to work on this you use [RegisterRawInputDevices](https://msdn.microsoft.com/en-us/library/windows/desktop/ms645600%28v=vs.85%29.aspx) to register a device for raw input, and then you receive `WM_INPUT` messages through the normal message loop.

[2016-05-21 13:09] bvssvni commented on #265
Actually, fake capturing was landed in https://github.com/PistonDevelopers/glutin_window/pull/87, and since SDL2 uses same trick now, there is no reason not to use Glutin.

[2016-05-21 20:33] mattico commented on #265
@bvanevery I agree that the instructions could probably be more clear, but dealing with C libraries on Windows has always been a pain.

I'll look at getting glutin support though, #264 is pretty close already.

[2016-05-22 00:00] mattico commented on #265
This should no longer be an issue since we no longer use SDL!

@bvanevery I'm closing this for now, but feel free to open more issues about setup if you have any other questions.

[2016-05-22 00:00] #265 closed

[2016-05-22 01:00] mattico opened #267 "Performance Regression: Glutin on Linux"
I noticed a performance regression with the new glutin code while running on Linux. I'm getting numbers that look like this:

New Windows: ~750 fps
New Linux: ~50 fps
Old Linux: ~250 fps

Same hardware for all of them. Windows 10 x64. Ubuntu 16.04 x64 with Nvidia 361.42 drivers.

Could be an issue with glutin maybe?

[2016-05-22 01:18] eddyb commented on #267
That sounds like vsync + some input loop delays causing frame drops on top.
Although, I'm not sure, just speculating.

[2016-05-23 00:35] ahtn commented on #257
I license past and future contributions under the dual MIT/Apache-2.0 license, allowing licensees to chose either at their option.

[2016-05-23 01:04] eddyb commented on #257
@Potpourri and @drhaynes, you're the only two left, any chance you could state your position on the potential relicensing?

[2016-05-23 13:16] drhaynes commented on #257
I license past and future contributions under the dual MIT/Apache-2.0 license, allowing licensees to chose either at their option.

[2017-02-02 16:52] SiebenCorgie opened #274 "Unable to load any world on Linux"
Hi,

I wanted to try hematite just for fun, but I am unable to start any world with it. I installed version 1.8.8 for Linux, because the program seams to look for it.

*The error is the following:*
`Opening "/home/*USER*/.minecraft/versions/1.8.8/1.8.8.jar"...
File "/home/*USER*/.minecraft/versions/1.8.8/1.8.8.jar" contains 5597 files.
Extracted 3085 files.
thread 'main' panicked at 'called `Resul

[2017-02-02 16:57] eddyb commented on #274
I edited your comment to use "fence code blocks" which are a bit more readable.

[2017-02-03 17:11] SiebenCorgie commented on #274
thanks!

[2017-02-03 22:38] mattico commented on #274
Could you provide a backtrace using a debug build? (i.e. no `--release`)

It'll be quite slow but we should be able to see what line it's panicking on then.

[2017-02-04 18:05] SiebenCorgie commented on #274
Sure,
This one is with `cargo run "New\ World"`

``cargo run "New\ World"
    Finished debug [unoptimized + debuginfo] target(s) in 0.0 secs
     Running `target/debug/hematite New\\\ World`
Opening "/home/siebencorgie/.minecraft/versions/1.8.8/1.8.8.jar"...
File "/home/siebencorgie/.minecraft/versions/1.8.8/1.8.8.jar" contains 5597 files.
Extracted 3085 files.
thread 'main' panicked at 'called `R

[2017-02-04 19:46] eddyb commented on #274
@SiebenCorgie For the record, you need three (i.e ```) and they have to be on their own lines.

[2017-02-05 04:10] Geemili commented on #274
@SiebenCorgie Is the world actually named `New\ World`? Because if it is not that putting the world's name in quotes and escaping the space won't work. For example:

[code]

Even if that is what you meant, you might want to try renaming the file, just in case that is messing with stuff.

[2017-02-05 10:52] SiebenCorgie commented on #274
I am sorry, this was actually the problem. However I created a new world called "Test" and tried to start it with
`cargo run "Test"`
Then a window is opening, but closes after an error:
[code]

The Error with RUST_BACKTRACE=1:
[code]

I created the world with version 1.8.8 .

[2017-07-02 09:12] vityafx opened #279 "How to develop it?"
I am familiar with game engines in C++. I would like to develop `hematite` if it is possible, however, I don't know anything about the game, the world file structure. If you publish some documentation for developers about how everything works here in the `hematite`, it would be very nice, everyone would be able to continue working on it.

[2017-07-02 10:26] eddyb commented on #279
I abandoned the project when Mojang didn't move blockstate information into the world file (if it happened since I am unaware of it).

Making progress without more data in an accessible format means writing scripts that turn Java bytecode into data and I don't have the time for it, nor do I think there is much value in it.

[2017-08-13 02:23] SirDoctors commented on #279
Yikes, that wouldn't be a fun thing to convert, though it does sound like an intresting side project...

[2017-08-21 08:22] jonathan-quarles opened #280 "Unable to load world on mac"
I have copied my Minecraft world in the hematite folder, then I run this command `Stevens-iMac:rust_spin_wheel-master stevenquarles$ cargo run --release "./New World"`.  Here is the error message I get:
[code]

[2017-08-21 08:33] #280 closed

[2018-03-05 14:59] moonheart08 commented on #93
If this is done, a flag to disable it should also be added. Some GPUs (like mine) give up when given mipmaps to handle.

[2018-03-11 16:35] Levertion commented on #279
@eddyb the block data has now been moved into the world file, as well as making the available blocks available.
Perhaps the easiest way I can show you how this is done is through [this typescript function](https://github.com/Levertion/mcfunction-langserver/blob/d880d35720a1e14526ced7578151337bdbbd0052/src/data/extractor/extract_data.ts#L25-L30), which runs the generator from a server jar.

Other s

[2018-03-11 16:37] eddyb commented on #279
I heard! I don't have the time to get involved for now, but I might later this year.

[2018-03-11 17:44] Levertion commented on #279
Cool!

[2018-05-17 19:50] Levertion commented on #279
As a further note:

@FVbico has created <https://github.com/FVbico/MinecraftData>, which contains loads of information about every single block in the game. I'm sure that he wouldn't mind a practical use of this venture.

[2018-08-17 09:25] userbq201 commented on #274
+1

[2018-08-17 09:26] userbq201 commented on #274
[code]

[2018-08-27 21:11] shymega commented on #279
@Levertion Unfortunately, that link appears to be broken. Is there a working link that you could direct to, if at all? Cheers.

[2018-08-27 21:18] FVbico commented on #279
https://github.com/FVbico/Data-Driven-Minecraft here

[2019-03-02 05:49] sh7dm opened #298 "Support MC advancements"
Idea is to support https://minecraft.gamepedia.com/Advancements#JSON_Format for custom advancements (MC 1.12+)

[2019-05-02 19:56] abasgames opened #299 "unable to run on ubuntu 18.04 x64"
abas@abas-ThinkPad-R61:~/Downloads/hematite-master$ cargo run --release "./<New_World>"
    Finished release [optimized] target(s) in 1.33s
     Running `target/release/hematite './<New_World>'`
Opening "/home/abas/.minecraft/versions/1.8.8/1.8.8.jar"...
File "/home/abas/.minecraft/versions/1.8.8/1.8.8.jar" contains 5597 files.
Extracted 3085 files.
thread 'main' panicked at 'called `Result::unwra

[2019-05-07 23:55] Nopey commented on #217
gfx_scene has been [depricated since 2017](https://github.com/gfx-rs/gfx_scene),
[rendy](https://github.com/amethyst/rendy) seems like the natural successor, although it is still unstable.

[2019-05-07 23:59] kvark commented on #217
Wgpu-rs would be ideal for this

[2019-05-15 20:59] Nopey commented on #217
I have [ported hematite to `wgpu-rs`](https://github.com/Nopey/hematite/tree/port-wgpurs)
Remaining work:
- [ ] Fix the upside-down camera
- [ ] [Upstream `pistoncore-winit_window` changes](https://github.com/PistonDevelopers/winit_window/pull/11)
- [ ] [Upstream `gfx_voxel`, perhaps as `wgpu_voxel`](https://github.com/Nopey/gfx_voxel/tree/port-wgpurs)
- [ ] Set the sky color? It was blue before..

[2019-05-15 22:23] kvark commented on #217
@Nopey please check out this matrix transform:
https://github.com/kvark/vange-rs/blob/7a42537eefe9d03b56e229cf9d14bd015c749860/src/space.rs#L84-L94

[2019-05-16 07:35] Nopey commented on #217
I'm considering removing the dependency graphs from gfx_voxel and hematite rather than updating them, due to the large tangle of dependencies from wgpu-rs.

[2019-05-18 17:40] Simon-Laux commented on #299
Duplicate of #274 ?

[2019-05-18 17:49] Simon-Laux opened #300 "Only a fraction of the window space is used"
![2019-05-18_19-44](https://user-images.githubusercontent.com/18725968/57973215-b5e8ac00-79a5-11e9-9c3d-fac293b80302.png)

I'm on linux and I also had the problem described in #274, but after loading from the game directory I got it to work. But now only a fraction of the screen is used.

[2019-06-06 10:00] rswalkden commented on #299
I'm new to the project but got it working in a linux VM no problem (lubuntu 18.10). I think your problem is `"<New_World>"` should be replaced with the name of existing save. So far as I'm aware this project doesn't support generating new worlds.

[2019-06-06 10:05] rswalkden commented on #274
Working for me in a lubuntu 18.10 VM. I also left the save file in `~/.minecraft/saves/`.

[2019-08-08 23:01] dhasl002 commented on #249
@mattico I am a new contributor. Could I possibly take this one? It looks like a good first issue. Thanks! 😄

[2020-03-05 20:46] Mhowser commented on #73
any progress on this?

[2020-03-06 13:09] eddyb commented on #73
I wonder if we should archive the repository, since I haven't had time to work on this for years and I don't think any major development has happened since.

[2020-03-08 17:02] atheriel commented on #73
Might be best to put something in the `README`, at least. There's a chance someone will come along and want to take up the reins of the project.

[2020-04-21 11:33] qm3ster commented on #279
@shymega might it be https://github.com/FVbico/Data-Driven-Minecraft/tree/master/minecraft/data/minecraft/blocks ?

[2020-04-21 11:34] FVbico commented on #279
@shymega
yes, that is the newer name of the project

[2020-07-07 12:42] aviallon opened #301 "Project status"
Hello, I would like to know what is the current status of this project ? The development seems stalled :(
Anyway, good job for doing something this smooth :stuck_out_tongue:

[2020-07-08 18:59] bvssvni commented on #301
This project is not being worked on any longer.

[2020-11-03 19:06] sami-lefebvre opened #302 "Adding a default save to the repository"
Hi ! This is a suggestion : since the project doesn't support generating new words, what about putting a default save in the repository ? I don't have minecraft installed on my PC and I would like to test the project, but as far as I understand I can't. (and I don't want to install minecraft / find a save online)

I think this would be great to make the project more accessible if you would like to

[2021-06-29 00:40] TwelvianZeta opened #305 "128 bit chunk positions"
I know Minecraft is only 32 bit (by default, there is a mod that lets it be 64 bit but that's for 1.2.5), but since rust has the capabilities to have 128 bit constants, why not? World sizes would go from 4.294e9 to over 1e27 times that.

[2021-07-09 01:10] nonetrix opened #306 "Crashes instantly"
Log:

[code]

System:
[code]
Things tried:

1. Trying both release and debug
2. Running in raw Xorg no window manager with ```$ startx ./hematite```
3. Recompiling my system for the 150th time today
4. Smashing my head into a wall
5. Turning it off and on again

[2022-07-31 16:22] MrMelon54 commented on #279
newer versions of Minecraft 1.13+ block states can be extracted using the data generator..

https://wiki.vg/Data_Generators

[2022-11-11 11:58] TudbuT commented on #306
Same issue for me on arch linux with i3

[2022-11-15 22:28] #306 closed